header  {
  padding: 1rem 0;

  .logo {
    width: 300px;
  }
  .top-menu {
    display: none;

    @media screen and (min-width: 992px) {
      display: flex;
    }

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      a {
        display: block;
        padding: 0.25rem 1rem;
        color: peru;
        font-size: 1.1rem;
        font-weight: bold;
      }
    }
  }
}
