.woocommerce{
    .woocommerce-input-wrapper{
        width: 100%;
        display: block;
    }
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    padding: .25rem;
    height: 30px;
    background: #f0f0f0;
    border: 0;
}