@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "colours";
@import "header";
@import "woocommerce";

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
  font-family: "Josefin Sans", sans-serif;
}
body {
  margin: 0;
}
nav {
  margin-bottom: -120px;
  z-index: 1;
  @media screen and (max-width: 768px) {
    background-color: #c2e8ff !important;
  }
}

.nav-link {
  color: blue !important;
  font-weight: bolder;
  margin-left: 50px;
  margin-right: 50px;
}

#wpmenucartli {
  border: 2px solid #007bff !important;
  padding: 10px;
  border-radius: 10px;
  @media screen and (max-width: 768px) {
    border: 2px solid #007bff !important;
  }
}

#heropromo {
  width: 100%;
  background: url("images/header5.jpg") white;
  background-size: cover;
  background-position: center;

  .interior-principal {
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 30px;
    letter-spacing: 10px;
    color: white;
    text-shadow: 0px 0px 9px rgb(0, 0, 0);
    font-size: 10px;
    position: relative;
    top: 60%;
    line-height: 50px;
  }
  .interior-principal h4 {
    letter-spacing: 0px;
    color: $light;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    font-size: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 550px;
  }

  @media screen and (min-width: 1500px) {
    width: 100%;
    height: 900px;
    .interior-principal h1 {
      font-size: 70px;
      letter-spacing: 10px;
      color: black;
      text-shadow: 0px 0px 9px rgb(255, 188, 255);

      position: relative;
      left: 0%;
      top: 60%;
      line-height: 100px;
    }
    .interior-principal h4 {
      letter-spacing: 0px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);
      font-size: 30px;
    }
  }
}

#heropromomovil {
  width: 100%;
  height: 200px;
  background: url("images/header5.jpg") #f0f0f0;
  background-size: cover;
  background-position: center;

  .interior-principalmovil {
    margin-left: 2%;
    letter-spacing: 10px;
    color: black;
    h1 {
      font-size: 15px;
    }

    text-shadow: 0px 0px 9px #ffbcff;
    position: relative;
    top: 10%;
    line-height: 50px;
  }

  .interior-principalmovil h4 {
    letter-spacing: 0px;
    color: $light;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 550px;
  }

  @media screen and (min-width: 1500px) {
    width: 100%;
    height: 900px;
    .interior-principal h1 {
      font-size: 70px;
      letter-spacing: 10px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);

      position: relative;
      left: 0%;
      top: 60%;
      line-height: 100px;
    }
    .interior-principal h4 {
      letter-spacing: 0px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);
      font-size: 30px;
    }
  }
}

#herohome {
  width: 100%;
  background: url("images/header2a.jpg") white;
  background-size: cover;
  background-position: center;

  .interior-principal {
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 30px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 0px 0px 9px rgb(255, 188, 255);
    font-size: 10px;
    position: relative;
    top: 60%;
    line-height: 50px;
  }
  .interior-principal h4 {
    letter-spacing: 0px;
    color: $light;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    font-size: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 550px;
  }

  @media screen and (min-width: 1500px) {
    width: 100%;
    height: 900px;
    .interior-principal h1 {
      font-size: 70px;
      letter-spacing: 10px;
      color: black;
      text-shadow: 0px 0px 9px rgb(255, 188, 255);

      position: relative;
      left: 0%;
      top: 60%;
      line-height: 100px;
    }
    .interior-principal h4 {
      letter-spacing: 0px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);
      font-size: 30px;
    }
  }
}

#herohomemovil {
  width: 100%;
  height: 200px;
  background: url("images/header2a.jpg") #f0f0f0;
  background-size: cover;
  background-position: center;

  .interior-principalmovil {
    margin-left: 2%;
    letter-spacing: 10px;
    color: black;
    text-shadow: 0px 0px 9px #ffbcff;
    position: relative;
    top: 10%;
    line-height: 50px;
  }
  .titulo {
    color: black;
    text-shadow: 0px 0px 9px #ffbcff;
    font-size: 15px;
  }
  .interior-principalmovil h4 {
    letter-spacing: 0px;
    color: $light;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 550px;
  }

  @media screen and (min-width: 1500px) {
    width: 100%;
    height: 900px;
    .interior-principal h1 {
      font-size: 70px;
      letter-spacing: 10px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);

      position: relative;
      left: 0%;
      top: 60%;
      line-height: 100px;
    }
    .interior-principal h4 {
      letter-spacing: 0px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);
      font-size: 30px;
    }
  }
}

#heronoticias {
  width: 100%;
  background: url("images/header4.jpg") white;
  background-size: cover;
  background-position: center;

  .interior-principal {
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 30px;
    letter-spacing: 10px;
    color: black;
    text-shadow: 0px 0px 9px rgb(255, 188, 255);
    font-size: 10px;
    position: relative;
    top: 60%;
    line-height: 50px;
  }
  .interior-principal h4 {
    letter-spacing: 0px;
    color: $light;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    font-size: 20px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 550px;
  }

  @media screen and (min-width: 1500px) {
    width: 100%;
    height: 900px;
    .interior-principal h1 {
      font-size: 70px;
      letter-spacing: 10px;
      color: black;
      text-shadow: 0px 0px 9px rgb(255, 188, 255);

      position: relative;
      left: 0%;
      top: 60%;
      line-height: 100px;
    }
    .interior-principal h4 {
      letter-spacing: 0px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);
      font-size: 30px;
    }
  }
}

#heronoticiasmovil {
  width: 100%;
  height: 200px;
  background: url("images/header4.jpg") #f0f0f0;
  background-size: cover;
  background-position: center;

  .interior-principalmovil {
    margin-left: 2%;
    letter-spacing: 10px;
    color: black;
    text-shadow: 0px 0px 9px #ffbcff;
    position: relative;
    top: 10%;
    line-height: 50px;
  }
  .titulo {
    color: black;
    text-shadow: 0px 0px 9px #ffbcff;
    font-size: 15px;
  }
  .interior-principalmovil h4 {
    letter-spacing: 0px;
    color: $light;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    font-size: 14px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 550px;
  }

  @media screen and (min-width: 1500px) {
    width: 100%;
    height: 900px;
    .interior-principal h1 {
      font-size: 70px;
      letter-spacing: 10px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);

      position: relative;
      left: 0%;
      top: 60%;
      line-height: 100px;
    }
    .interior-principal h4 {
      letter-spacing: 0px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);
      font-size: 30px;
    }
  }
}

#herobajohome {
  padding: 2rem;
  width: 100%;
  background: url("images/prefootervaso3.jpg") #f0f0f0;
  background-size: cover;
  background-position: center;

  .interior-principal-2 {
    letter-spacing: 5px;
    color: $light;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    position: relative;
    top: 30%;
    line-height: 50px;

    h1 {
      font-size: 40px;
    }
  }
  .interior-principal-2 h4 {
    letter-spacing: 0px;
    color: $light;
    text-shadow: 0px 0px 9px rgb(255, 255, 255);
    font-size: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    height: 600px;
  }

  @media screen and (min-width: 1500px) {
    width: 100%;
    height: 900px;
    .interior-principal-2 {
      letter-spacing: 5px;
      color: $light;
      text-shadow: 0px 0px 9px rgb(255, 255, 255);
      position: relative;
      top: 50%;
      line-height: 50px;

      h1 {
        font-size: 60px;
      }
    }
  }
}

footer {
  height: 300px;
  background: #f0f0f0;
}

.pagination {
  background-color: green;
}

.woocommerce-result-count {
  margin-bottom: 2rem !important;
}

.woocommerce-index ul li {
  position: relative;
  left: 35%;
  top: 30px;
}

.fondo {
  background-color: $cafe;
}

.sinpadding {
  margin-bottom: 10%;
}

.sinpadding .col-md-6 {
  padding: 0;
  background-color: $cafe-claro;
}

.sinpadding1 .col-md-6 {
  padding: 0;
  background-color: $verde-claro;
}

.sinpadding2 {
  padding: 0;
  color: white;
  background: url("images/footer1.jpg") #f0f0f0;
  background-size: cover;
}

.sinpadding3 {
  padding: 0;
  background-color: #005672;
  color: white;
  li {
    list-style: none;
  }
}

.menu-item a {
  font-size: 1rem;
}

.sticky-top {
  list-style-type: none;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  padding: 1.5rem;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
  }
  li,
  a::before {
    font-weight: bold;
    color: green;
    content: "*  ";
  }
}

.logo-a {
  width: 200px;
  height: auto;
}
.logo-ab {
  width: 600px;
  height: auto;
}
@media (min-width: 50px) and (max-width: 640px) {
  .logo-ab {
    width: 100%;
    height: auto;
  }
}

.woocommerce-loop-category__title {
  text-align: center;
}
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #005672 !important;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  color: white !important;
  background-color: #005672 !important;
}

.sinpadding-solo [class*="col-"] {
  padding: 0;
}

.cuadro1 {
  padding: 2rem;
  width: 100%;
  height: 400px;
  background: url("images/home1.jpg") #f0f0f0;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.cuadro2 {
  padding: 2rem;
  width: 100%;
  height: 400px;
  background: url("images/home2.jpg") #f0f0f0;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.cuadro3 {
  padding: 2rem;
  width: 100%;
  height: 400px;
  background: url("images/home3.jpg") #f0f0f0;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
}

.interior1 {
  background-color: white;
  border: 3px solid #128dff;
  border-radius: 10px;
  padding: 1%;
  color: black;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 80%;
}

.interior2 {
  background-color: peru;
  border-top: 5px solid #1d4c3c;
  padding: 1%;
  color: $light;
  font-size: 20px;
  text-align: center;
  position: absolute;
  right: 50%;
  top: 80%;
}
.wpforms-field-name-first {
  background-color: #005672 !important;
  border: none;
}
.wpforms-field-name-last {
  background-color: #005672 !important;
}
.wpforms-field-medium {
  background-color: #005672 !important;
}
.separarchica {
  width: 100%;
  height: 50px;
}
.separar {
  width: 100%;
  height: 100px;
}
.separarmovil {
  width: 100%;
  height: 120px;
}
.separar1 {
  width: 100%;
  height: 150px;
}
.separar2 {
  width: 100%;
  height: 200px;
}

.woocommerce-thankyou-order-received {
  background-color: green !important;
  border-radius: 15px !important;
  color: white !important;
  font-size: 20px !important;
  text-align: center;
  padding: 1%;
}

#order_comments{
  width: 100% !important;
  height: 100px !important;
}